@import "../../variables";

.services-section {
  position: relative;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: white;
  color: $ca-black;
}

.services-card {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 25px;
  padding-right: 25px;
  height: auto;
}

.card-img-top {
  padding: 20px;
  opacity: 0.8;
  border-radius: 10px;
}

.blog-img {
  padding: 0px;
  opacity: 0.8;
  border-radius: 0px;
}

.services-heading {
  color: white;
  font-size: 2.3em;
  font-weight: 500;
}

.service-description {
  margin: 0 10em 1rem;
}

@media (max-width: 992px) {
  .service-description {
    margin: 0 5em 1rem;
  }
}

@media (max-width: $screen-md) {
  .service-description {
    margin: 0 0 1rem;
  }
}