@import "../../variables";

.about-section {
    position: relative;
    padding-top: 125px;
    padding-bottom: 30px;
    color: $ca-black;
    background-color: white;
    &.container-fluid {
        padding: 50px 0;
    }
    .container.card-section {
        width: 100%;
        margin:0;
        max-width: 100%;
    }
  }
  
  @media (max-width: 767px) {
    .about-img {
      padding-top: 0;
    }
  }
  