@import "../../variables";

.about-card {
    &.left-aligned-card {
        text-align: left;
        background-color: $ca-blue;
        .card .card-title {
            color: $ca-yellow;
        }
    }

    &.right-aligned-card {
        text-align: right;
        float: right;
        background-color: white;
    }
    .card {
        border: None;
        border-radius: 0;
        padding: 0 90px 20px; 
        background-color: transparent;
        .card-title {
            color: $ca-black;
            h2 {
                font-size: 36px;
                font-weight: bold;
            }
        }
        .card-body {
            color: $ca-black;
            padding: 1rem 0;
        }
    }
}

@media (max-width: 767px) {
    .about-card .card {
      padding: 0 20px 20px;
    }
}