@import "../../variables.scss";

section .home-section {
    position: relative;
    z-index: -1;
    background-color: white;
    padding: 0;
    width: 100%;
    .home-content {
      background-color: $ca-yellow;
      color: $ca-black;
      text-align: left;
      width: 100%;
      margin: 0;
      max-width: None;
      padding: 0;
      z-index: 100;
      .img-fluid {
        object-fit: contain;
        width: 100%;
        height: 100%;
      }
  }
}

.home-header {
    padding-top: 80px;
    text-align: left;
}

.home-about-section {
    position: relative;
    padding-bottom: 70px;
    padding-top: 70px;
}
  
.home-about-description {
    color: white;
    padding-top: 100px;
    padding-bottom: 20px;
    text-align: center;
}
  
.home-about-body {
    padding-top: 50px;
    font-size: 1.2em;
    text-align: left;
}

/* ----------------- */
/* Paintbrush Effect */
/* ----------------- */

.brush-wrap {
    position: relative;
    display: inline-block;
    padding: 3rem;
  }
  
  /* applying example animation (indefinite variant) */
  .brush-wrap.brush-wrap--indefinite:before {
    clip-path: url(#clip-indefinite);
  }
  
  /* clipping/animating object (pseudo element) */
  .brush-wrap:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: $ca-blue;
    z-index: -1;
    clip-path: url(#clip); /* applying clip animation */
  }
  
  .brush-wrap p {
    font-size: 2rem;
    text-transform: uppercase;
    margin: 0;
    color: $ca-black;
    font-style: italic;
    filter: drop-shadow(0px 0px 2px black);
  }