$ca-blue:#67F9FF;
$ca-black: #0E2303;
$ca-yellow: #FFF701;
$ca-dark-yellow: #e3dc00;
$ca-gray: #9e9e9e;

$ca-turqouise: #53FCDD;
$ca-light-green: #3EFF95;
$ca-dark-green: #39d57f;
$ca-sea-green: #00FFCF;

$screen-md: 768px;